<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal">
          <fieldset>
            <legend class="text-center">New Player Info</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input #newName id="name" name="name" type="text" placeholder="Name" class="form-control">
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="url">Img Url</label>
              <div class="col-md-9">
                <input #newUrl id="url" name="url" type="text" placeholder="url" class="form-control">
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="position">Position</label>
              <div class="col-md-9">
                <input #newPosition class="form-control" id="position" name="position" placeholder="Player Position">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="country">Country of Origin</label>
              <div class="col-md-9">
                <input #newCountry id="country" name="country" type="text" placeholder="Country" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="average">2017 Batting Average</label>
              <div class="col-md-9">
                <input #newAverage id="average" name="average" type="number" placeholder="Batting Average" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="homerun">2017 Home Runs</label>
              <div class="col-md-9">
                <input #newHR id="homerun" name="homerun" type="number" placeholder="Home Runs" class="form-control">
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button (click)="addPlayer(newName.value, newUrl.value, newPosition.value, newCountry.value, newAverage.value, newHR.value)" class="btn btn-primary btn-lg">Add Player</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
