<div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Seattle Mariners</h1>
                        <p class="text-center">My Oh My</p>
                    </div>
                </div>
                <div id="custom-search-input">
                  <div class="input-group col-md-4">
                    <input type="text" class="form-control input" placeholder="Search By Position" #searchCategory/>
                    <span class="input-group-btn">
                      <button class="btn btn-info" (click)="search(searchCategory.value)">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <app-player-list  [selectedPosition]="positionSearch"></app-player-list>
            </div>
        </div>
